<h1><%= @user.name %></h1>

<p><%= @user.email %></p>

<p><a href="<%= edit_user_path(@user.id) %>">Edit User</a></p>

<p><a href="<%= dashboard_path(@user.id) %>" data-method="delete" data-confirm="Are you sure?">Delete Account</a></p>


<p><a href="<%= logout_path %>" data-method="post">Log Out</a></p>

<hr>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
